/* ------ css reset ------ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*----------menu-------------*/

/*navigationsbar*/
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/*menuknapperne i navigationsbar*/
.nav-menu {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
/*logo*/
.nav-branding {
  width: 20ch;
}
/*hamburgermenu*/
.hamburger {
  display: none;
  cursor: pointer;
  padding: 2ch;
}
.bar {
  display: block;
  width: 35px;
  height: 2px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ff1139;
  border-radius: 2px;
}
/*-------------mobil---------------*/
@media (max-width: 700px) {
  /*-----------BURGERMENU SETTINGS----------*/
  .hamburger {
    display: block;
  }
  /*de tre streger bliver til et kryds*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  /*menu settings, standard gør den ikke synlig*/
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 11.7ch;
    gap: 0;
    flex-direction: column;
    background-color: #ffbabd;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-link {
    font-size: 5cqw;
  }
  .nav-item {
    margin: 35px 16px;
    border-bottom: #ff1139 1px solid;
  }
  /*kommer frem, når den er active*/
  .nav-menu.active {
    left: 0;
  }
}

/*---FORSIDE herosection---*/
.hero-img {
  display: grid;
  /*aspect-ratio: 80/100;*/
  background-image: url(../img/illustrations/backgroundimg.svg);
  background-size: cover;
  padding-bottom: 2%;
  border-bottom: #ff1139 1px solid;
  width: 100%;
  height: auto;
  transition: 1s;
  overflow: hidden;
  height: 85vh;
}
.hero-img:hover {
  background-image: url(../img/illustrations/backgroundimg3.svg);
  transition: 1s;
}
/*container for tekst og knap til section
gør så man kan align tekst og knap indenfor sit grid*/
.hero-fill {
  display: grid;
}
/*tekst og knap tilhørende til hero-fill*/
#hero-button {
  padding-bottom: 5%;
  align-self: self-end;
}
.button {
  aspect-ratio: 485/127;
  background-image: url(../img/icons/button_default.webp);
  background-size: cover;
  width: 45%;
  height: auto;
  /*placerer item i midten*/
  margin: auto;
  transition: 0.5s;
}
.buttontext {
  text-align: center;
  padding: 8%;
  font-size: 3.5cqw;
  transition: 0.2s;
  color: #484848;
}
.buttonhover {
  background-image: url(../img/icons/button_hover.webp);
  transition: 0.5s;
}
.hoveronp {
  color: #ff1139;
  transition: 0.5s;
}

.hero-text {
  align-self: self-end;
}
/*GÆLDENDE FOR TEMASIDERNE*/
.header_goback {
  display: grid;
  grid-template-columns: 1fr 3.8fr 1fr;
  padding: 1ch;
}

.back {
  background-image: url(../img/icons/arrowback.webp);
  background-size: cover;
  aspect-ratio: 53/31;
  width: 50px;
  margin: 2ch;
  transition: 0.5s;
}
.back:hover {
  background-image: url(../img/icons/arrowbackhover.webp);
  transition: 0.5s;
}
.back a {
  color: transparent;
}

.temabeskrivelse p {
  text-align: justify;
}
/*DESKTOP*/
@media (min-width: 700px) {
  /*--FORSIDE hero-section--*/
  .hero-fill h1 {
    font-size: 14cqw;
  }
  .hero-img {
    /*aspect-ratio: 1920/925;*/
    background-size: cover;
    height: 90vh;
    transition: 1s;
  }
  /*sætter container i bunden af section i stedet for at det ligger spredt*/
  .hero-fill {
    align-self: self-end;
  }
  #hero-button {
    padding-bottom: 0%;
  }
  .button {
    width: 27%;
  }
  .button p {
    font-size: 1.9cqw;
  }
  h1 {
    font-size: 8cqw;
  }
}
