/* ------ css reset ------ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/*----------menu-------------*/

/*navigationsbar*/
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/*menuknapperne i navigationsbar*/
.nav-menu {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
/*logo*/
.nav-branding {
  width: 8ch;
  margin-left: 5px;
}
/*hamburgermenu*/
.hamburger {
  display: none;
  cursor: pointer;
  padding: 2ch;
}
.bar {
  display: block;
  width: 35px;
  height: 2px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--red);
  border-radius: 2px;
}

/*-------------mobil---------------*/
@media (max-width: 700px) {
  /*-----------BURGERMENU SETTINGS----------*/
  .hamburger {
    display: block;
  }
  /*de tre streger bliver til et kryds*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  /*menu settings, standard gør den ikke synlig*/
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 9.1ch;
    gap: 0;
    flex-direction: column;
    background-color: var(--pink);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .nav-link {
    font-size: 2rem;
    /* color: var(--red);*/
  }
  /*
  .active {
    color: var(--black);
  }*/
  .nav-item {
    margin: 35px 16px;
    border-bottom: var(--red) 1px solid;
  }
  /*kommer frem, når den er active*/
  .nav-menu.active {
    left: 0;
  }
}
/*---FOOTER---*/
.footerflex {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
footer {
  margin-top: 1rem;
  border-top: 1px solid var(--red);
  background-image: url(../img/illustrations/backgroundimg4.svg);
  background-size: cover;
}
.footer {
  text-align: right;
  width: 50%;
  margin-bottom: 1rem;
}
#logo {
  width: 30%;
  margin: 1rem 1rem 0 2rem;
}
/*---FORSIDE herosection---*/
.hero-img {
  display: grid;
  /*aspect-ratio: 80/100;*/
  background-image: url(../img/illustrations/backgroundimg.svg);
  background-size: cover;
  padding-bottom: 2%;
  width: 100%;
  height: auto;
  transition: 1s;
  overflow: hidden;
  height: 85vh;
}
.hero-img:hover {
  background-image: url(../img/illustrations/backgroundimg3.svg);
  transition: 1s;
}
/*container for tekst og knap til section
gør så man kan align tekst og knap indenfor sit grid*/
.hero-fill {
  display: grid;
}
/*tekst og knap tilhørende til hero-fill*/
#hero-button {
  padding-bottom: 5%;
  align-self: self-end;
}
.button {
  aspect-ratio: 485/127;
  background-image: url(../img/icons/button_default.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 45%;
  height: auto;
  /*placerer item i midten*/
  margin: auto;
  transition: 0.5s;
  margin-top: 1rem;
}
.buttontext {
  text-align: center;
  padding: 8%;
  font-size: 3.5cqw;
  transition: 0.2s;
  color: var(--black);
}
.button:hover {
  background-image: url(../img/icons/button_hover.webp);
  transition: 0.5s;
}
.buttontext:hover {
  color: var(--red);
  transition: 0.5s;
}

.hero-text {
  align-self: self-end;
}
/*GÆLDENDE FOR TEMASIDERNE*/
/*topdelen af temasiderne med h1 og pil tilbage*/
.header_goback {
  background-image: url(../img/illustrations/backgroundimg4.svg);
  background-size: 30%;
  background-position-x: 90%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 3.8fr 1fr;
  padding: 1ch;
}
/*pil tilbage knap*/
.back {
  background-image: url(../img/icons/arrowback.webp);
  background-size: cover;
  aspect-ratio: 53/31;
  width: 37px;
  margin: 2ch;
  transition: 0.5s;
}
.back:hover {
  background-image: url(../img/icons/arrowbackhover.webp);
  transition: 0.5s;
}
/*tekst for knappen er usynlig*/
.back a {
  color: transparent;
}
/*temabeskrivelse*/
.temabeskrivelse p {
  text-align: justify;
}
.temabeskrivelse {
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: 1px solid var(--red);
}
.temabeskrivelse h2 {
  padding-top: 1rem;
  font-size: 2rem;
}
.temabeskrivelse h3 {
  text-align: center;
  margin-top: 0.5rem;
  background-color: var(--beige);
  border-radius: 1rem 0 1rem 0;
  border: 1px solid var(--red);
  margin-bottom: 5px;
  padding: 5px;
}
.temabeskrivelse .button {
  width: 50%;
  margin-bottom: 1rem;
}
.temabeskrivelse .buttontext {
  text-align: center;
  font-size: inherit;
}
.numberlist p {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}
.numberlist h3 {
  margin-top: 1rem;
  border: none;
}
.numberlist {
  margin-bottom: 1rem;
}
.numberlist .buttontext {
  margin: 0;
}

/*navigation*/
.navigation nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.navigation nav li {
  border-right: 1px solid var(--red);
  padding: 0 0.5rem 0 0.5rem;
}
.navigation nav :last-child {
  border-right: 0;
}
/*til top knap*/
.tiltop {
  background-image: url(../img/icons/arrowup_default.webp);
  background-size: contain;
  background-repeat: no-repeat;
  height: 6%;
  position: fixed;
  bottom: 0;
  right: 48%;
  transition: 0.5s;
}
.tiltop a {
  color: transparent;
}
.tiltop:hover {
  background-image: url(../img/icons/arrowup_hover.webp);
  transition: 0.5s;
}

/*billeder*/
.grid_2fr-1fr {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 75%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.galleri02 {
  background-image: url(../img/illustrations/backgroundimg.svg);
  background-size: cover;
}
.galleri02 img {
  transition: 0.5s;
}
.galleri03 {
  background-image: url(../img/illustrations/backgroundimg5.svg);
  background-size: contain;
}
.galleri03 img {
  border: 1px solid var(--red);
}
.galleri04 img {
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid var(--red);
}
.galleri04 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.grid_2fr-1fr img {
  border: 1px solid var(--red);
}
#videosite div {
  padding: 0rem 2rem 0rem 2rem;
}
#virksomhedssite div {
  padding: 0rem 2rem 0rem 2rem;
  padding-bottom: 1rem;
}

#videosite .grid_1fr_1fr {
  padding-bottom: 1.5rem;
}
#virksomhedssite .grid_1fr_1fr {
  display: grid;
  gap: 1rem;
  padding-top: 1rem;
}
#virksomhedssite img {
  border: 1px solid var(--red);
}
#virksomhedssite #research {
  background-image: url(../img/illustrations/backgroundimg4.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 80%;
}
/*----OM MIG-----*/
em {
  color: var(--black);
}

.cv h2 {
  font-size: 2rem;
}
.col1 section,
.col2 section {
  hyphens: auto;
  margin: 1.5rem;
}

/*alt tekst får text-align justify og sættes til venstre*/
.cv p,
.cv h2,
.cv h1 {
  text-align: justify;
}
/*---COLUMN 1--*/
.cv img {
  margin: 0;
  width: 100%;
  border: var(--red) 1px solid;
  border-radius: 5rem;
}
.col1 {
  background-image: url(../img/illustrations/backgroundimg.svg);
  background-size: cover;
}
.grid_1fr1fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid_1fr1fr div {
  margin: 1.5rem;
}
.col1 section {
  margin-top: 0;
  margin-bottom: 0;
}
.col1 section:last-child {
  margin-left: 0;
}
/*kontaktboks*/
.kontakt {
  background-color: var(--beige);
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: var(--red) 1px solid;
  padding: 1rem;
  margin-left: 0;
  text-align: justify;
}
.kontakt a:hover {
  color: var(--black);
  transition: 0.5s;
}
.kontakt a {
  color: var(--red);
  transition: 0.5s;
}
.kontakt li {
  padding-top: 2rem;
}
.kontakt h3 {
  border-bottom: 1px solid var(--red);
}
/*--COLUMN 2--*/
.uddannelse {
  display: grid;
  gap: 1rem;
}
.kompetencer li {
  list-style: circle;
  color: var(--red);
  margin-left: 1rem;
  padding-bottom: 2px;
}

/*DESKTOP*/
@media (min-width: 700px) {
  /*footer*/
  #logo {
    width: 12%;
    margin: auto;
  }
  .footerflex {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer {
    text-align: center;
    width: initial;
  }
  .footer ul {
    margin-bottom: 1rem;
    text-align: center;
  }
  /*--FORSIDE hero-section--*/
  .hero-fill h1 {
    font-size: 8rem;
    hyphens: auto;
  }
  .hero-img {
    /*aspect-ratio: 1920/925;*/
    background-size: cover;
    height: 83vh;
    transition: 1s;
  }
  /*sætter container i bunden af section i stedet for at det ligger spredt*/
  .hero-fill {
    align-self: self-end;
  }
  #hero-button {
    padding-bottom: 0%;
  }
  .button {
    width: 27%;
  }
  .button p {
    font-size: 1.9cqw;
  }

  h1 {
    font-size: 8cqw;
  }
  /*--tema--*/
  .header_goback {
    background-size: 38%;
    margin-bottom: 5px;
  }
  .flex_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .grid_2fr-1fr {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .temabeskrivelse,
  .navigation {
    width: 75%;
    margin: auto;
  }
  /*navigation*/
  .navigation nav {
    margin: 0;
  }
  .tiltop {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 3.5rem 2rem 0;
    transition: 0.5s;
  }
  .temabeskrivelse .button {
    width: 30%;
  }
  .temabeskrivelse .grid_1fr_1fr .button {
    width: 60%;
  }
  .temabeskrivelse .buttontext {
    font-size: 1.5cqw;
  }
  .temabeskrivelse h2 {
    font-size: 3.5cqw;
  }
  .numberlist .button {
    width: 55%;
  }

  /*galleri*/
  .grid_1fr_1fr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  #research .grid_1fr_1fr {
    display: grid;
    grid-template-columns: 1fr 1.12fr;
  }
  #skitse .grid_1fr :last-child {
    margin-top: 1rem;
  }
  #skitse .grid_1fr_1fr {
    display: grid;
    grid-template-columns: 1fr 1.18fr;
  }
  #videosite .grid_1fr_1fr {
    gap: 0;
  }
  #videosite div,
  #virksomhedssite #research div {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
  }
  #virksomhedssite #research .grid_1fr_1fr {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    padding-top: 1rem;
  }

  /*--OM MIG--*/
  .cv {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .grid_1fr1fr {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .cv img {
    width: 70%;
    border-radius: 10rem;
  }

  .cv h2 {
    font-size: 3cqw;
  }
  .col1 {
    background-image: url(../img/illustrations/backgroundimg4.svg);
    background-size: cover;
  }
  .col2 {
    border-left: 1px solid var(--red);
    width: 80%;
  }
}
@media (min-width: 900px) {
  .temabeskrivelse .buttontext {
    font-size: inherit;
  }
}
