/*----------------portfolio indholdsfortegnelse-------------------*/
main {
  width: 70%;
  margin: auto;
}

.grid_1fr-1fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2ch;
  text-align: right;
}
.grid_1fr-2fr {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: right;
}
.grid_1fr {
  display: grid;
  gap: 3ch;
}
.nr {
  text-align: right;
}
.backgroundimg4 {
  display: none;
}
.backgroundimg5 {
  position: absolute;
  /*height: 105vh;*/
  z-index: -1;
}

/*DESKTOP*/
@media (min-width: 700px) {
  body {
    width: 85%;
    margin: auto;
  }
  .backgroundimg5 {
    display: none;
  }
  .backgroundimg4 {
    display: inherit;
    position: absolute;
    aspect-ratio: 9.5/9;
    width: 85%;
    z-index: -1;
    transition: 1s;
  }
  .section2 {
    h1 {
      font-size: 8cqw;
    }
    height: 85vh;
  }
  .nr {
    font-size: 6cqw;
  }

  #indholdsfortegnelse {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .backgroundimg4 {
    aspect-ratio: 11/9;
    transition: 1s;
  }
}

/*ANIMATIONER*/
.flyvop {
  animation-name: flyvop_kf;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes flyvop_kf {
  0% {
    translate: 0 300%;
  }
  100% {
    translate: 0%;
  }
}
.pos1 {
  translate: 0 300%;
}

.delay2 {
  animation-delay: 0.5s;
}
