/*----------------portfolio indholdsfortegnelse-------------------*/
#indholdsfortegnelse {
  width: 70%;
  margin: auto;
}
h2 {
  margin-bottom: -20px;
}
.grid_1fr-1fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2ch;
  text-align: right;
}
.grid_1fr-2fr {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#indholdsfortegnelse p,
#indholdsfortegnelse h3 {
  text-align: right;
  margin-bottom: -20px;
}
.grid_1fr {
  display: grid;
  gap: 3ch;
}
.nr {
  text-align: right;
}
.backgroundimg4 {
  display: none;
}
.backgroundimg5 {
  position: absolute;

  z-index: -1;
}
.body {
  overflow: hidden;
}
/*DESKTOP*/
@media (min-width: 700px) {
  header {
    width: 85%;
    margin: auto;
  }
  .backgroundimg5 {
    display: none;
  }
  .backgroundimg4 {
    display: inherit;
    position: absolute;
    aspect-ratio: 10/9;
    width: 95%;
    z-index: -1;
    transition: 0.5s;
  }
  .grid_1fr {
    display: grid;
    gap: 6ch;
  }
  .section2 {
    h1 {
      font-size: 8cqw;
    }
    height: 85vh;
  }
  .nr {
    font-size: 9cqw;
  }

  #indholdsfortegnelse {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6ch;
  }
}
@media (min-width: 900px) {
  .backgroundimg4 {
    aspect-ratio: 11.5/9;
    transition: 0.5s;
  }
  #indholdsfortegnelse p,
  #indholdsfortegnelse h3,
  .nr {
    margin-bottom: -30px;
    transition: 0.3s;
  }
}
